div.clearbold-table {
    display: table;
    width: 100%;
}
div.clearbold-table-row,
div.clearbold-table-header {
    display: table-row;
}
div.clearbold-table-header > span {
    font-weight: bold;
    vertical-align: bottom;
}
div.clearbold-table-row:nth-of-type(2n-1),
div.clearbold-table-header:nth-of-type(2n-1) {
    background: rgb(235, 237, 239);
    border-right: 2px solid rgb(255, 255, 255);
}
div.clearbold-table-row > span {
    display: table-cell;
    padding: 4px 8px;
}
@media all and (max-width: 673px) {
    div.clearbold-table {
        margin-right: -8px;
        margin-left: -8px;
    }
    div.clearbold-table-big div.clearbold-table-row {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    div.clearbold-table-big div.clearbold-table-header {
        display: none;
    }
    div.clearbold-table-big div.clearbold-table-row > span {
        border-right: 0;
        display: block;
    }
    div.clearbold-table-big div.clearbold-table-row > span:nth-of-type(1) {
        font-weight: bold;
    }
}
@media all and (min-width: 674px) {
    span.clearbold-table-label {
        display: none;
    }
    div.clearbold-table-row:nth-of-type(2n-1) > span,
    div.clearbold-table-header:nth-of-type(2n-1) > span {
        border-right: 2px solid rgb(255, 255, 255);
    }
    div.clearbold-table-row:nth-of-type(2n-1) > span:last-child,
    div.clearbold-table-header:nth-of-type(2n-1) > span:last-child {
        background: rgb(235, 237, 239);
        border-right: 0;
    }
    .clearbold-cmlists > div > span {
        width: 12.5%;
    }
    .clearbold-cmlists > div > span:nth-of-type(1) {
        width: 50%;
    }
}

.clearbold-grid-top-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}
    .clearbold-grid-top-stats > div {
        background: #F2F4F6;
        border: 1px solid #e3e5e8;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
    }
    .clearbold-grid-top-stats > div > span {
        display: block;
        width: 100%;
    }
    .clearbold-grid-top-stats > div > span:nth-of-type(1) {
        font-size: 400%;
        font-weight: bold;
        line-height: 110%;
    }
    .clearbold-grid-top-stats > div:nth-of-type(1) span {
        /*color: #002B45;*/
    }
.clearbold-grid-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 60px;
    margin-bottom: 20px;
    width: 100%;
}
    .clearbold-grid-stats h2 {
        padding-left: 8px;
    }
    .clearbold-grid-stats div.clearbold-table-row > span {
        width: 60%;
    }
    .clearbold-grid-stats div.clearbold-table-row > span:nth-of-type(2) {
        text-align: right;
        width: 40%;
    }
@media all and (max-width: 998px) {
    .clearbold-grid-top-stats {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 673px) {
    .clearbold-grid-top-stats {
        grid-template-columns: 1fr;
    }
    .clearbold-grid-stats {
        display: block;
        margin-bottom: 0px;
    }
        .clearbold-grid-stats h2 {
            padding-left: 0;
        }
        .clearbold-grid-stats .clearbold-table {
            margin-bottom: 20px;
        }
}
